// Project color palette
$g-text-main: #005292;
$g-text-inverse: #FFFFFF;

$g-background-0: #2577B1;
$g-background-1: #6EA1C5;
$g-background-2: #C2DBEB;
$g-background-3: #DDEEF7;
$g-background-4: #EEF7FB;

$g-background-linear-0: linear-gradient(180deg, #458EC1 0%, #458EC1 0%, #2577B1 100%, #2577B1 100%);
$g-background-linear-1: linear-gradient(180deg, #EBF8FF 0%, #EBF8FF 0%, #D0E4F0 100%, #D0E4F0 100%);
$g-background-linear-2: linear-gradient(180deg, #00B300 0%, #00B300 0%, #008A00 100%, #008A00 100%);
